<h1>Listing student_orders</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Dob</th>
    <th>Email</th>
    <th>Transcript quantity</th>
    <th>Business card quantity</th>
    <th>Diploma quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_orders.each do |student_order| %>
  <tr>
    <td><%= student_order.first_name %></td>
    <td><%= student_order.middle_name %></td>
    <td><%= student_order.last_name %></td>
    <td><%= student_order.dob %></td>
    <td><%= student_order.email %></td>
    <td><%= student_order.transcript_quantity %></td>
    <td><%= student_order.business_card_quantity %></td>
    <td><%= student_order.diploma_quantity %></td>
    <td><%= link_to 'Show', student_order %></td>
    <td><%= link_to 'Edit', edit_student_order_path(student_order) %></td>
    <td><%= link_to 'Destroy', student_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student order', new_student_order_path %>
