<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @program.name %>
</p>

<p>
  <b>Start date:</b>
  <%= @program.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @program.end_date %>
</p>

<p>
  <b>Price:</b>
  <%= @program.price %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
