<div>
  <input type="hidden" name="mAmount" value="<%= number_with_precision(@registration_transaction.invoice_amount, :precision => 2) %>">
  <input type="hidden" name="ref_id" value="<%= @registration_transaction.id %>">
  <input type="hidden" name="sClientRefID" value="<%= @registration_transaction.id %>">
  <input type="hidden" name="sClientTrxID" value="<%= @registration_transaction.id %>">
  <input type="hidden" name="sClientName" value="<%= @registration_transaction.name %>">
  <input type="hidden" name="payor_name" value="<%= @registration_transaction.name %>">
  <input type="hidden" name="payor_email" value="aim@aim.edu">
  <input type="hidden" name="payor_pass" value="Password1234">
  <input type="hidden" name="payor_dob" value="<%= DateTime.now.strftime('%y-%m-%d') %>">
  <input type="hidden" name="payor_phone" value="8924011">
  <input type="hidden" name="payor_addr" value="Asian Institute of Management">
  <input type="hidden" name="sReturnURL" value="http://<%= CURRENT_DEPLOYED_HOST %>/complete_payment">
</div>