<p id="notice"><%= notice %></p>

<center><h2 style="color:#0d112e;"> Thank You!</h2></center>
<hr/>
<p>Thank you for using AIM Online Payment</p>
<p>Please print this form as a reference of your transaction</p>
<p>Please take note of the Transaction Reference and Receipt Number as you can use it as a proof of payment.</p>

<div class="box">
  <table style=" margin-top: -15; margin-left:10px;">
    <tr>
      <td><p><b>Type:</b></td><td><%= @payment_receipt.type %></p></td>
    </tr>
    <tr>
      <td><p><b>Reference number:</b></td><td><%= @payment_receipt.reference_number %></p></td>
    </tr>
    <tr>
      <td> <p><b>Receipt number:</b></td><td><%= @payment_receipt.receipt_number %></p></td>
    </tr>
    <tr>
      <td><p><b>Registration transaction:</b></td><td><%= @payment_receipt.registration_transaction_id %></p></td>
    </tr>
    <tr>
      <td><p><b>Amount:</b></td><td><%= @payment_receipt.amount %></p></td>
    </tr>
    <tr>
      <td><p><b>Card type:</b></td><td><%= @payment_receipt.card_type %></p></td>
    </tr>
    <tr>
      <td> <p><b>Description:</b></td><td><%= @payment_receipt.description %></p></td>
    </tr>
  </table>
</div>
<div class="button_position">
<%= link_to 'Back', payment_receipts_path %> |
<%= link_to 'Edit', edit_payment_receipt_path(@payment_receipt) %>
</div>