<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="name">Name</label>

  <div class="controls">
    <input id="name" name="name" type="text" value="<%= @registration_transaction.name %>" class="input-xlarge" readonly>

  </div>
</div>


<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="email">E-Mail Address</label>

  <div class="controls">
    <input id="email" name="email" type="text" value="<%= @registration_transaction.email %>" class="input-xlarge" readonly>

  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="program-name">Program Name</label>

  <div class="controls">
    <input id="program-name" name="program-name" type="text" value="<%= @registration_transaction.program.name %>" class="input-xlarge" readonly>

  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="program-duration">Program Duration</label>

  <div class="controls">
    <input id="program-duration" name="program-duration" type="text" value="<%= "#{@registration_transaction.program.start_date} to #{@registration_transaction.program.end_date}" %>" class="input-xlarge" readonly>

  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="particulars">Particulars</label>
  <div class="controls">
    <textarea id="particulars" name="particulars" readonly>
      <% if @registration_transaction.particulars.present? %>
        <%= @registration_transaction.particulars %>
      <% end %>
    </textarea>
  </div>
</div>


<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="amount-due">Amount Due</label>

  <div class="controls">
    <input id="amount-due" name="amount-due" type="text" value="PHP <%= number_with_delimiter(number_with_precision(@registration_transaction.invoice_amount, :precision => 2)) %>" class="input-xlarge" readonly>

    <p class="help-block">This is the amount you need to pay today to complete your registration. You will be billed in
      Philippine Pesos.</p>
  </div>
</div>


<div>
  <input type="hidden" name="pay" value="<%= number_with_precision(@registration_transaction.invoice_amount, :precision => 2).split('.').join %>">
  <input type="hidden" name="order" value="<%= @registration_transaction.id %>">
  <input type="hidden" name="aimRef" value="<%= SecureRandom.hex(3) %>">
  <input type="hidden" name="callbackUrl" value="http://<%= CURRENT_DEPLOYED_HOST %>/complete_payment">
</div>

<% if @registration_transaction.payment_receipt.present? %>
    <!-- Button (Double) -->
    <div class="control-group">
      <label class="control-label" for="pay-cancel"></label>

      <div class="controls">
        <h4>We have received your payment
          last <%= @registration_transaction.payment_receipt.created_at.strftime('%m/%d/%Y') %>. Thank you for your
          payment.</h4>
        <button id="pay-close" name="pay-complete" class="btn btn-warning">Close</button>
      </div>
    </div>
<% else %>
    <!-- Button (Double) -->
    <div class="control-group">
      <label class="control-label" for="pay-cancel"></label>

      <div class="controls">
        <a href="/payment_selection/<%= @registration_transaction.id %>" id="pay-complete" name="pay-cancel" class="btn btn-success">Pay</a>
        <a href="/" id="pay-complete" name="pay-cancel" class="btn btn-danger">Cancel</a>
      </div>
    </div>
<% end %>